/* Custom farver og fonte */
html {
    --color-primary: #364F6B;
    --color-heading: #F5F5F5;
    --color-subheading: #3FC1C9;
    --color-text: #5F5F5F;
    --color-link: #FC5185;

    --font-family: articulat-cf;
    --font-weight-heading: 700;
    --font-weight-subheading: 400;
    --font-weight-text: 200;

    scroll-behavior: smooth;
}

/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  /* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
  body {
    font-family: system-ui, sans-serif;
    line-height: 1.6;
    color: #2d2d2d;
  }
  
   
  
  /* Normalisering af billeder */
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  .maks_vidde {
    margin-left: 7%;
    margin-right: 10%;
  }
  
  .maks_vidde_2 {
    margin-left: 15%;
    margin-right: 15%;
  }
  

  /* ------------------ Skrifter ----------------- */

  h1 {
    font-size: 4rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight-heading);
    color: var(--color-heading);
  }

  h2 {
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight-subheading);
    color: var(--color-subheading);
  }

  h3 {
    font-size: 1.8rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight-subheading);
    color: var(--color-subheading);
  }


  p {
    font-family: var(--font-family);
    font-weight: var(--font-weight-text);
    font-size: 1.3rem;
    color: var(--color-text);
  }

  .text_mark {
    color: black;
    font-weight: 400;
  }

  a:not(.a_eks) {
    color: var(--color-link);
    text-decoration: none;
  }

  a:hover:not(.a_eks){
    text-decoration: underline;

  }

  .a_eks {
    text-decoration: none;
  }

  .a_eks h3 {
    color: var(--color-text);
  }


  figcaption {
    display: flex;
    justify-content: flex-end;

    font-size: 0.8rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight-subheading);
    font-style: italic;
  }

  /* ------------------- Menu bar --------------- */

  nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;

    font-size: 1.5rem;

    list-style: none;

    background-color: var(--color-primary);
  }

  /* ----------------- Knapper --------------- */


  .knap_portfolio {
    color: var(--color-primary);

    font-size: 1.3rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight-text);
    text-decoration: underline;
    letter-spacing: 2px;

    margin-left: 7%;
  }

  .knap_portfolio:hover {
    color: #1b314a;

    font-weight: 400;
  }


.knap_web a {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  background-color: var(--color-primary);

  width: 250px;
  padding-top: 5px;
  padding-bottom: 5px;

  cursor: pointer;
}

.knap_web p {
  color: var(--color-heading);
  font-size: 1.2rem;
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: 2px;
}

.knap_web img {
  width: 30px;
}

.knap_web a:hover {
  color: var(--color-heading);

}

.knap_web a:hover img {
  animation-name: roter_forsvind_kf;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.knap_web a:hover p {
  animation-name: forsvind_kf;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


  /* ------------------- footer ------------------- */
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;

    background-color: var(--color-primary);

    padding-top: 2%;
    padding-bottom: 2%;

    padding-left: 7%;
    padding-right: 7%;
  }

  footer h4 {
    font-size: 1.3rem;
    color: var(--color-heading);

    margin-bottom: 10px;
  }

  footer li {
    list-style: none;
  }

  #socials {
    display: flex;
    gap: 10px;
  }

  #socials a {
    margin-top: 2%;
    width: 30px;

    transition: 0.5s;
  }

  #socials a:hover {
    filter: grayscale(100%);

    transition: 0.5s;
  }

  footer p {
    font-size: 1rem;

    color: grey;
  }

