/* ---------------- Forside ----------- */

#forside > section {
    background-color: var(--color-primary);
}

#forside > section > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;

}

#forside > section > div > h1 {
    font-size: 3rem;
}

#forside > section > div > img {
    width: 400px;
}

#forside > section > img {
    margin-left: auto;
    margin-right: auto;
    
    width: 100px;

}


/* -------------- portfolio ------------------- */

.rubrik {
    display: grid;
}

.rubrik > img {
    margin-top: -1px;
    grid-column: 1;
    grid-row: 1;

    z-index: -1;
}

.rubrik > div {
    grid-column: 1;
    grid-row: 1;

    margin-top: 5%;
    margin-left: 7%;
}

.rubrik > div > ol > li {
    list-style:inside;

    font-size: 1.5rem;
    color: var(--color-link);
}

.rubrik > div > ol > li:hover {
    text-decoration: underline;
}

/* -----*/

.post_sec1 {
    margin-left: 7%;
    margin-right: 10%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 10px;
    align-items: center;
}

.post_sec1 figure img {
    border-radius: 10px;
}

.post_sec1_link {
    grid-column: 2;
    justify-self: center;
}

.post_sec2 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 7%;
    margin-right: 10%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 10px;
    align-items: center;
}

.post_sec2_text {
    grid-column: 2;
}

.post_sec2_pic {
    grid-column: 1;
    grid-row: 1;
}

.post_sec2 figure img {
    border-radius: 10px;
}

.post_sec2_link {
    grid-column: 1;
    justify-self: center;
}



