/* ---------------- Forside ----------- */

#hero {
    background-color: var(--color-primary);
}

#hero > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 30px;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

}

#hero > div > h1 {
    font-size: 3rem;
}

#hero > div > img {
    width: 400px;
}

#hero > a > img {
    margin-left: auto;
    margin-right: auto;
    
    width: 100px;

}

/* ----------------- Portfolio ------------------- */

#hero_portfolio {
    background-color: var(--color-primary);

    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

.parent_portfolio {
    margin-top: 100px;
    margin-bottom: 60px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

.portfolio_box {
    width: 300px;
    padding: 10px 20px 10px 20px;
    
    background-color: #f4f4f4;
    border-radius: 10px;

}

.portfolio_box a {
    display: grid;
}

.portfolio_box a img {
    margin-bottom: 20px;

    border-radius: 10px;

    width: 150px;

    justify-self: center;

}

.portfolio_box:hover h3 {
    color: var(--color-link);

    transition: 0.5s;
}

.portfolio_box:hover p {
    color: black;

    transition: 0.5s;
}

.portfolio_box:hover img {
    transform: scale(1.05);

    filter: drop-shadow(0px 0px 5px var(--color-text));

    transition: 0.5s;
}


/* -------------- temaSider ------------------- */

.rubrik {
    display: grid;
}

.rubrik > img {
    margin-top: -1px;
    grid-column: 1;
    grid-row: 1;

    z-index: -1;
}

.rubrik > div {
    grid-column: 1;
    grid-row: 1;

    margin-top: 5%;
    margin-left: 7%;
}

.rubrik > div > ol > li {
    list-style:inside;

    font-size: 1.5rem;
    color: var(--color-link);
}

.rubrik > div > ol > li:hover {
    text-decoration: underline;
}

/* -----*/

.post_sec1 {
    margin-left: 7%;
    margin-right: 10%;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 10px;
    align-items: center;
}

.post_sec1 figure img {
    border-radius: 10px;
}

.post_sec1 video {
    border-radius: 10px;
}

.post_sec1 h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.post_sec1_text {
    grid-column: 1;
}

.post_sec1_pic {
    grid-column: 2;
    grid-row: 2;
}

.post_sec1_link {
    grid-column: 2;
    justify-self: center;
}

.post_sec2 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 7%;
    margin-right: 10%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 10px;
    align-items: center;
}

.post_sec2 h2 {
    grid-column: 2;
}

.post_sec2_text {
    grid-column: 2;
    grid-row: 2;
}

.post_sec2_pic {
    grid-column: 1;
    grid-row: 2;
}

.post_sec2 figure img {
    border-radius: 10px;
}

.post_sec2_link {
    grid-column: 1;
    justify-self: center;
}

#t_04_04_01 {
    margin-bottom: 60px;
}



/* ----------------- CV -------------- */
#cv section:nth-child(4) {
    margin-bottom: 60px;
}

#cv_hero {
    padding-left: 15%;
    padding-right: 15%;
    background-color: var(--color-primary);

    padding-top: 40px;
}

#cv_hero h2 {
    color: var(--color-heading);
}

#cv_hero_content {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    column-gap: 60px;
    
    align-items: center;
}

#cv_hero_content > img {
    width: 300px;
}


#cv_hero_content a {
    display: flex;
    gap: 10px;

    align-items: center;
}

#cv_hero_content a > img {
    width: 30px;
}

#cv_hero_content a:hover > img {
    animation-name: dip_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;
} 

#cv_detaljer h3 {
    color: var(--color-link);

    margin-bottom: 10px;
}

#cv_detaljer p {
    font-size: 1rem;
    color: var(--color-heading);
}

#cv_detaljer div {
    margin-bottom: 10px;
}

#cv_detaljer .cv_farve {
    color: var(--color-link);
}

.cv_farve_2 {
    color: var(--color-subheading);
}

.cv_h3 {
    margin-top: 50px;
}

.cv_flex {
    display: flex;
    column-gap: 60px;
    
    margin-bottom: 20px;
}

.cv_flex_time {
    width: 210px;
}



