/* ---------------- Forside CSS ----------- */

#forside > section {
    background-color: var(--color-primary);
}

#forside > section > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 30px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    


}

#forside > section > div > h1 {
    font-size: 3rem;
}

#forside > section > div > img {
    width: 400px;
}

#forside > section > img {
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}


/* -------------- Tema 2 ------------------- */

.rubrik {
    display: grid;
}

.rubrik > img {
    margin-top: -1px;
    grid-column: 1;
    grid-row: 1;

    z-index: -1;
}

.rubrik > div {
    grid-column: 1;
    grid-row: 1;

    margin-top: 5%;
    margin-left: 7%;
}

.rubrik > div > ol > li {
    list-style:inside;

    font-size: 1.5rem;
    color: var(--color-link);
}

.rubrik > div > ol > li:hover {
    text-decoration: underline;
}


